html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
  font-size: 14px;
  color: black;
  font-weight: normal;
  font-family: OpenSans Light;
}

h1 {
  line-height: 42px;
  font-size: 30px;
  font-weight: bold;
}

.search {
  float: left;
  width: 200px;
  margin-left: 100px;
}

.main-navigation {
  float: right;
  width: 500px;
}

.second-navigation {
  clear: both;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
}

.second-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.second-navigation li:first-child {
  padding-left: 60px;
}

.second-navigation li:nth-child(2) {
  padding-left: 320px;
}

.second-navigation li:nth-child(3) {
  padding-left: 40px;
}

.second-navigation li:nth-child(4) {
  padding-left: 100px;
}

.section-left {
  float: left;
  width: 300px;
  outline: 1px solid green;
}

.section-right {
  float: left;
  width: 860px;
  outline: 1px solid yellow;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  outline: 1px solid green;
  padding: 8px;
}

.slider1 .logo1 {
  float: left;
  width: 400px;
  padding-top: 64px;
}

.slider2 .logo2 {
  float: left;
  width: 400px;
  padding-top: 64px;
}

.slider3 .logo3 {
  float: left;
  width: 400px;
  padding-top: 64px;
}

.slider1 .about1 {
  float: right;
  width: 480px;
  padding-top: 64px;
}

.slider2 .about2 {
  float: right;
  width: 480px;
  padding-top: 64px;
}

.slider3 .about3 {
  float: right;
  width: 480px;
  padding-top: 64px;
}

.slider3 {
  display: none;
}

.slider2 {
  display: none;
}

.section-two {
  clear: both;
  font-size: 0;
}

.section-two {
  padding-top: 110px;
  outline: 1px solid green;
}

.section-two figure {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 40px;
  font-size: 14px;
}

.section-two figure:last-child {
  margin-right: 0;
}

.section-three {
  margin-top: 160px;
  outline: 1px solid blue;
}

.container-left {
  float: left;
  width: 480px;
  padding-bottom: 95px;
}

.container-right {
  float: right;
  width: 580px;
}

.list-three {
  float: left;
  width: 160px;
  margin-right: 240px;
}

.delivery-text {
  float: left;
  width: 460px;
}

.warranty-text {
  float: left;
  width: 460px;
}

.credit-text {
  float: left;
  width: 460px;
}

.delivery img {
  float: right;
  width: 140px;
  margin-right: 60px;
}

.warranty img {
  float: right;
  width: 140px;
  margin-right: 60px;
}

.credit img {
  float: right;
  width: 140px;
  margin-right: 60px;
}

.section-four {
  margin-top: 100px;
  margin-bottom: 160px;
  width: 1160px;
  clear: both;
  font-size: 0px;
}

.section-four .logos {  
  outline: 1px solid yellow;
  display: inline-block;
  vertical-align: top;
}

.section-four figure {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.sort-navigation li {
  display: inline-block;
  vertical-align: top;
}

.gallery figure{
  margin: 0;
}

.gallery {
  font-size: 0; 
}

.gallery .block {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.gallery .block:nth-child(2n) {
  margin-right: 0;
}

.gallery a,
.gallery span {
  font-size: 14px;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}

.container {
  width: 1160px;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

.main-footer {
  clear: both;
  outline: 1px solid green;
  
  
}

.footer-first {
  outline: 1px solid green;
  float: left;
  width: 200px;
  margin-top: 65px;
}

.footer-second {
  outline: 1px solid green;
  float: left;
  width: 440px;
  margin-left: 160px;
  margin-top: 70px;
  margin-bottom: 65px;
}

.footer-garanty li {
  display: inline-block;
  vertical-align: top;
}

.footer-social li {
  display: inline-block;
  vertical-align: top;
}

.footer-third {
  outline: 1px solid green;
  float: right;
  width: 360px;
  margin-top: 70px;
}

.footer-third li {
  display: inline-block;
  vertical-align: top;
}

section.credit {
  display: none;
}

section.warranty {
  display: none;
}