body {
  line-height: 24px;
  font-size: 14px;
  color: black;
  font-weight: normal;
  font-family: OpenSans Light;
}

h1 {
  line-height: 42px;
  font-size: 30px;
  font-weight: bold;
}
